---
import Icon from 'astro-icon';
---

<footer class="py-8">
  <div class="container mx-auto text-center">
    <div class="flex justify-center space-x-4 mb-4">
      <a href="">
        <Icon class="w-6 md:w-8" name="ph:instagram-logo" />
      </a>
    </div>
    <p class="text-sm">copyright © by natrez. all rights reserved.</p>
  </div>
</footer>
