<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl p-24 lg:px-36 md:px-12">
    <div>
      <div class="mx-auto text-center">
        <div class="sm:flex sm:justify-center sm:mb-8">
          <div class="text-base tracking-tight rounded-full">natsells</div>
        </div>
        <h1 class="mt-4 font-bold sm:text-5xl text-3xl tracking-tight">
          Shop my closet
        </h1>
        <div class="flex justify-center flex-col gap-3 mt-10 sm:flex-row">
          <a
            class="w-auto items-center justify-center rounded-full duration-200 inline-flex px-6 py-3 text-center bg-negroni-500 font-medium text-charcoal-500 hover:scale-110"
            href="">See More&nbsp; →</a
          >
        </div>
      </div>
    </div>
  </div>
</main>
